@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;

    --fonte-titulo: 'Krona One', sans-serif;
    --fonte-paragrafo: "montserrat", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}   

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box;
    /* height: 100vh; */
}

.cabecalho {
    padding: 1% 0% 0% 10%
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__links {
    font-family: var(--fonte-paragrafo);
    font-size: 1.375rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;

}

.layout {
    padding: 9% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.layout__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.layout__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-titulo);
}


.titulo-destaque {
    color: var(--cor-terciaria);
}


.layout__conteudo__paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-paragrafo);
} 

.layout__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 10px;
}

.layout__links__navegacao {
    border: 3px double var(--cor-terciaria);
    display: flex;
    justify-content: center;
    gap: 25px;
    width: 50%;
    text-align: center;
    border-radius: 16px;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-family: var(--fonte-paragrafo);
    font-weight: 600;
}

.layout__links__link:hover {
    background-color: #272727;
}

.layout__imagem {
    width: 50%;

} 

.footer {
    display: flex;
    justify-content: center;
    color: var(--cor-primaria);
    font-family: var(--fonte-paragrafo);
    font-size: 1.5rem;
    font-weight: 400;
    background-color: var(--cor-terciaria);
    padding: 24px;
    width: 100%;
}
